<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% block title %}<title>BookBinder</title> {% endblock title %}
    {% block stylesheet%} <link href="{{ asset('css/main.css') }}" rel="stylesheet" /> {% endblock %}
    {% block viewport %} <meta name="viewport" content="width=device-width,initial-scale=1.0"> {% endblock %}
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Figtree" rel="stylesheet">
</head>

<body>
{% block header %}
    <header class="header">
        <div class="logo">
            <img id="logo" src="{{ asset("assets/logo.png") }}" alt="bookbinder">
        </div>
        <div id="nav">
            {%block nav %}
                <a href="{{ path('Home') }}">Home</a>
                <a href="{{ path('Search') }}">Search</a>
                <a href="{{ path('MeetUp') }}">MeetUp</a>
                <a href="{{ path('User') }}">User</a>
            {% endblock %}
        </div>
    </header>
{% endblock %}

<main>
    {% block content %}
    {% endblock %}
</main>

{% set footer_class = footer_class|default('footer') %}
{% block footer %}
    <footer class="{{ footer_class }}">
        <div>Copyright © 2022 WebTech. KUL All rights Reserved.</div>
        <div><a href="https://www.google.com/" style="color: white ">  Privacy Policy</a> | <a href="https://www.google.com/" style="color: white"> Terms of Use</a></div>
    </footer>
{% endblock %}

</body>
</html>