{% extends 'base.html.twig' %}
{% block title %} <title> BookBinder </title>{% endblock %}
{% block stylesheet %}
    {{ parent() }}
    <link href="{{ asset('css/Book.css') }}" rel="stylesheet">
{% endblock %}

{% block content %}
    <div class="container py-5">
        <div class="row">
            <div class="col-lg-4">
                <div class="card rounded-3 mb-sm-4 justify-content-sm-center Book-border">
                    <img id="BookPic" class="rounded-3 w-100" src="{{ asset('/public/assets/no_cover.jpg') }}" alt="BookCover">
                    <div class="card-body text-center">
                        <h1 id="BookTitle" class="card-title"> Title loading </h1>
                        <h3 id="nrOfFollowers"> {{ book_nr_of_followers }} Followers </h3>
                        <p id="BookAuthor"> Name Loading </p>
                        <p id="BookDetails" class="BookDetails">
                            Number of pages : {{ book_nr_of_pages }} <br>
                            ISBN: {{ book_isbn }} <br>
                            Rating : {{ book_rating }} <br>
                            Library : {{ library_name }} <br>
                        </p>
                        <div class="btn-group buttons">
                            {% if user_follows_book_boolean == 1 %}
                                {{ form_start(unfollow_book_form) }}
                                {{ form_end(unfollow_book_form) }}
                            {% else %}
                                {{ form_start(follow_book_form) }}
                                {{ form_row(follow_book_form.bookid, {'attr': {'value': book_id}}) }}
                                {{ form_row(follow_book_form.userid, {'attr': {'value': user_id }}) }}
                                {{ form_row(follow_book_form.Follow) }}
                                {{ form_end(follow_book_form) }}
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-7 ms-lg-5">
                {% for message in app.flashes('success') %}
                    <div class="alert alert-success alert-dismissible fade show" role="alert">
                        {{message}}
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                    </div>
                {% endfor %}
                <div class="container">
                    <h1 class="text-center"> What book lovers say about "{{ book_title }}" ? </h1>
                    <ul class="book_reviews">
                        {% if reviews_per_book is not empty %}
                            {% for item in reviews_per_book %}
                                <li> <strong>FeedBack:</strong> {{ item.text }} <strong>Rating: </strong>{{ item.rate}}/10  <strong> ~{{ item.author }} </strong> <br></li>
                                {#We can display the rate by adding {{ item.rate }} and making the appropriate vhanges to the function getReviewBasedOnBookName#}
                            {% endfor %}
                        {% else %}
                            <h6> No feedback is given for {{ book_title }} yet. Be the first one!</h6>
                        {% endif %}
                    </ul>
                    <h2 class="text-center"> Give review for the book</h2>
                        {{ form_start(review_form) }}
                        {{ form_row(review_form.author, {'attr': {'value': last_username}}) }}
                        {{ form_row(review_form.book, {'attr': {'value': book_title}}) }}
                        {{ form_row(review_form.text) }}
                        {{ form_row(review_form.rate) }}
                        {{ form_row(review_form.Submit) }}
                        {{ form_end(review_form) }}
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block footer %}
    {% set display=false%}
{% endblock %}

{% block scripts %}
<script src="{{ asset('javascript/api.js') }}"></script>
<script>fetch_details('{{ book_isbn }}');</script>
{% endblock %}