{% extends 'base.html.twig' %}
{% block content %}
    <div class="container py-5">
        <div class="row">
            <div class="col-lg-3">
                <div class="card rounded-2 mb-4">
                    <div class="card-body">
                        <h2 id="" class="card-title text-white text-center rounded-3" style="background: #866ff7;">
                            Top Trending This Week
                        </h2>
                        {% for book in books %}
                            <div class="text-center"  onclick="location.href='{{ path('Book', {'id': book.id}) }}';" style="cursor: pointer;">
                                <img id="BookPic" class="rounded-3 w-50" src="{{ asset('/public/assets/no_cover.jpg') }}" alt="BookCover">
                                <h3 id="booktitle"> {{ book.title }} </h3>
                                <h4 id="bookauthor"> {{ book.author }}</h4>
                                <p id="bookgenres"> Book followers : {{ book.number_of_followers }}</p>
                            </div>
                            <script src="{{ asset('javascript/api.js') }}"></script>
                            <script>fetch_details('{{ book.isbn }}');</script>
                        {% endfor %}
                    </div>
                </div>
            </div>

            <div class="col-lg-8 ms-2">
                <div class="container">
                    <div class="welcome">
                        <h1>Welcome to BookBinder!</h1>
                        <p>
                            Discover trending books, recommend them to others, and connect with like-minded readers on our website. Join a vibrant community of book lovers and engage in meaningful discussions about your favorite reads.
                        </p>
                    </div>
                    <h1 id="nearest" class="text-center mt-lg-4">Your nearest library</h1>
                    <div class="card rounded-2 mb-3">
                        <div class="row g-0">
                            <div class="col-md-4 rounded-2" style="background: #6f42c1">
                                <h3 class="text-center mt-lg-4 bibname">{{ library.name }}</h3>
                            </div>
                            <div class="col-md-8">
                                <div class="card-body">
                                    <p>{{ library.name }} Address : </p>
                                    <p>{{ library.street }} {{ library.housenumber }}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card-body">
                        <h2 style="color: #311E69; padding-top: 20px; padding-bottom: 10px">My Favorites Book</h2>
                        <div class="card rounded-2 mb-3 flex-row">
                            {% for book in books %}
                                <div class="text-center"  onclick="location.href='{{ path('Book', {'id': book.id}) }}';" style="cursor: pointer;">
                                    <img id="BookPic" class="rounded-3 w-50" src="{{ asset('/public/assets/no_cover.jpg') }}" alt="BookCover">
                                    <h3 id="booktitle"> {{ book.title }} </h3>
                                    <h4 id="bookauthor"> {{ book.author }}</h4>
                                </div>
                                <script src="{{ asset('javascript/api.js') }}"></script>
                                <script>fetch_details('{{ book.isbn }}');</script>
                            {% endfor %}
                        </div>
                    </div>
                    </div>
            </div>
        </div>
    </div>
{% endblock %}