{% extends 'base.html.twig' %}

{%  block header %}
    <header class="landing-header">
        <div class="logo">
            <img id="logo" src="{{ asset("assets/logo.png") }}" alt="bookbinder">
        </div>
        <div id="nav">
            <a href="{{ path('LogIn') }}">LogIn</a>
            <a href="{{ path('SignUp') }}">SignUp</a>
        </div>
    </header>
{% endblock %}

{% block content %}
<div class="landing-main">
    <div class="landing-main-left">
        <div class="landing-trending">
            <h1 class="letters">This week's trendings</h1>
            <p class="letters"> Trendings to be added later on from the database!</p>
        </div>
    </div>

    <div class="landing-main-right">
        <div class="landing-welcome">
            <h1 class="WelcomeLbl"> Welcome </h1>
            <p class="WelcomeP"> Please enter your email and password</p>
            <div class="form">
                {{ form_start(login_form) }}
                {{ form_row(login_form.username, {'label': 'User Name'}) }}
                {{ form_row(login_form.password, {'label': 'Password'}) }}
                {{ form_row(login_form.submit) }}
                {{ form_end(login_form) }}
            </div>
            {% for label, messages in app.flashes %}
                {% for message in messages %}
                    <div id="flash" class="alert alert-{{ label }}">
                        {{ message }}
                    </div>
                {% endfor %}
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}

{% set footer_class = 'landing-footer' %}
{% block footer %}
    <footer class="{{ footer_class }}">
        <div>Copyright © 2022 WebTech. KUL All rights Reserved.</div>
        <div><a href="https://www.google.com/" style="color: #311E69 ">  Privacy Policy</a> | <a href="https://www.google.com/" style="color: #311E69 "> Terms of Use</a></div>
    </footer>
{% endblock %}
