{% extends 'base.html.twig' %}

{%  block header %}
    <header class="landing-header">
        <div class="container">
            <nav class="navbar navbar-expand rounded-3 "  >
                <div class="container-fluid">
                    <a class="navbar-brand" href="{{ path('LogIn') }}">
                        <img src="{{ asset('/assets/logo.png') }}" alt="bookbinderlogo" width="200px">
                    </a>
                    <div class="collapse navbar-collapse justify-content-end" id="navbarNavAltMarkup">
                        <div class="navbar-nav" id="nav">
                            <a class="nav-link active" aria-current="page" href="{{ path('LogIn') }}">LogIn</a>
                            <a class="nav-link " href="{{ path('SignUp') }}">SignUp</a>
                        </div>
                    </div>
                </div>
            </nav>
        </div>
    </header>
{% endblock %}

{#Content block finished#}
{% block content %}
    <div class="landing-main px-4">
        <div class="container">
            <div class="row justify-content-between">
                <div class="col-5 landing-main-left">
                    <h1 class="letters">This week's trendings</h1>
                    <p class="letters"> Trendings to be added later on from the database!</p>
                </div>
                <div class="col-4 landing-main-right landing-welcome">
                    <h1 class="WelcomeLbl"> Welcome </h1>
                    <p class="WelcomeP"> Please enter your email and password</p>
                    <div class="form">
                        {{ form_start(login_form) }}
                        {{ form_row(login_form.username, {'label': 'User Name'}) }}
                        {{ form_row(login_form.password, {'label': 'Password'}) }}
                        <div class="BtnGroups">
                            {{ form_row(login_form.LogIn) }}
                            {{ form_row(login_form.SignUp) }}
                        </div>
                        {{ form_end(login_form) }}
                    </div>
                    {% for label, messages in app.flashes %}
                        {% for message in messages %}
                            <div id="flash" class="alert alert-{{ label }}">
                                {{ message }}
                            </div>
                        {% endfor %}
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% set footer_class = 'landing-footer' %}
{% block footer %}
    <footer class="{{ footer_class }}">
        <div>Copyright © 2022 WebTech. KUL All rights Reserved.</div>
        <div><a href="https://www.google.com/" style="color: #311E69 ">  Privacy Policy</a> | <a href="https://www.google.com/" style="color: #311E69 "> Terms of Use</a></div>
    </footer>
{% endblock %}
