{% extends 'base.html.twig' %}

{% block content %}
    <div class="container py-5">
        <div class="row">
            <div class="col-lg-4">
                <div class="card rounded-2 mb-4">
                    <div class="card-body">
                        <h2 class="card-title text-white text-center rounded-3 p-3 mb-3 card_background2">Upcoming Meetups</h2>
                        <div class="booklovers-container">
                            <ul class="bookloverslist">
                                {% for MeetUp in all_accepted_meetups %}
                                    <li>
                                        <div class="users">
                                            <div>
                                                <img class="userpict" src="{{ MeetUp.dataUri }}" alt="userpic">
                                            </div>
                                            <div class="usersright ps-2">
                                                <h5 class="text-muted">Username:</h5>
                                                <p class="meetUpText">{{ MeetUp.nameInvited }}</p>
                                                <h5 class="text-muted">Library:</h5>
                                                <p class="meetUpText">{{ MeetUp.library }}</p>
                                                <h5 class="text-muted">Date & time:</h5>
                                                <p class="date">{{ MeetUp.dateTime|date('d/m/Y H:i') }}</p>
                                            </div>
                                        </div>
                                    </li>

                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                </div>
            </div>

            <div class="meetright">
                <div>
                    <h2 class="titleinvite"> Meet Up Invitation</h2>
                    <ul class="invitationlist">
                        {% set index = 0 %}
                        {% for MeetUp in all_open_meetups %}
                            <div class="invitation">
                                <div>
                                    <p id="invitename">{{ MeetUp.nameInvited }}</p>
                                    <p id="librarymeet">Library:
                                        {{ MeetUp.library }}</p>
                                </div>
                                <p id="datetimeinvitation">{{ MeetUp.dateTime|date('d/m/Y H:i') }}</p>
                                {% if loop.index0 == index %}
                                    {{ form_start(formAccept[index]) }}
                                    {{ form_end(formAccept[index]) }}
                                {% endif %}
                                {% if loop.index0 == index %}
                                    {{ form_start(formDecline[index]) }}
                                    {{ form_end(formDecline[index]) }}
                                    {% set index = index + 1 %}
                                {% endif %}
                            </div>
                        {% endfor %}
                    </ul>
                </div>


                <div class="col-lg-3">
                <div class="card rounded-2 mb-4">
                    <div class="card-body">
                        <h2 class="card-title text-white text-center rounded-3 p-3 mb-3 card_background2">Invite a friend</h2>
                        {{ form_start(form) }}
                        {{ form_row(form.name_invited) }}
                        {% for message in app.flashes('failname') %}
                            <div class="alert alert-danger alert-dismissible fade show" role="alert">
                                {{message}}
                                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                            </div>
                        {% endfor %}
                        {{ form_row(form.dateTime) }}
                        {{ form_row(form.library) }}
                        {% for message in app.flashes('faillibrary') %}
                            <div class="alert alert-danger alert-dismissible fade show" role="alert">
                                {{message}}
                                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                            </div>
                        {% endfor %}
                        {{ form_end(form) }}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block footer %}
    {% set display=false%}
{% endblock %}