{% extends 'base.html.twig' %}

{% block content %}
    <div class="meetuppage">
        <div class="booklovers">
            <h1 class="bltitle">
                Book lovers near you
            </h1>
            <ul class="bookloverslist">
                <div class="users">
                    <div>
                        <img id="userpict" src="/assets/user1.jpg" alt="userpic" />
                    </div>
                    <div class="usersright">
                        <p id="username">Katlyn DB</p>
                        <p id="library">Bib Tweebronnen</p>
                        <label for="datetime">Select date and time : </label> <input id="datetime" type="datetime-local"/>
                        <button id="requestmeetup">Request to Meet Up</button>
                    </div>
                </div>

                <div class="users">
                    <div>
                        <img id="userpict" src="/assets/user1.jpg" alt="userpict"/>
                    </div>
                    <div class="usersright">
                        <p id="username">Katlyn DB</p>
                        <p id="library">Bib Tweebronnen</p>
                        <label for="datetime">Select date and time : </label> <input id="datetime" type="datetime-local"/>
                        <button id="requestmeetup">Request to Meet Up</button>
                    </div>
                </div>

                <div class="users">
                    <div>
                        <img id="userpict" src="/assets/user1.jpg" alt="userpict"/>
                    </div>
                    <div class="usersright">
                        <p id="username">Katlyn DB</p>
                        <p id="library">Bib Tweebronnen</p>
                        <label for="datetime">Select date and time : </label> <input id="datetime" type="datetime-local"/>
                        <button id="requestmeetup">Request to Meet Up</button>
                    </div>
                </div>
            </ul>
        </div>

        <div class="meetright">
            <div>
                <h2 class="titleinvite"> Meet Up Invitation</h2>
                <ul class="invitationlist">
                    {% set index = 0 %}
                    {% for MeetUp in all_open_meetups %}
                        <div class="invitation">
                            <div>
                                <p id="invitename">{{ MeetUp.nameInvited }}</p>
                                <p id="librarymeet">Library:
                                    {{ MeetUp.library }}</p>
                            </div>
                            <p id="datetimeinvitation">{{ MeetUp.dateTime|date('d/m/Y H:i') }}</p>
                            {% if loop.index0 == index %}
                                {{ form_start(formAccept[index]) }}
                                {{ form_end(formAccept[index]) }}
                                {% set index = index + 1 %}
                            {% endif %}
                            <button id="decline">Decline</button>
                        </div>
                    {% endfor %}
                </ul>
            </div>
            <div class="coming-up-block">
                <h1>Coming Up Meet Up</h1>
                <ul>
                    <li id="coming-up">With Sofia at Bib Tweebronnen</li>
                    <li id="coming-up">With  Dave  at Bib Tweebronnen</li>
                </ul>
            </div>
            <div class ="writeInvitation">
                <h1>Invite a friend</h1>
                {{ form_start(form) }}
                {{ form_row(form.nameInvited) }}
                {% for message in app.flashes('failname') %}
                    <div class="alert alert-danger alert-dismissible fade show" role="alert">
                        {{message}}
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                    </div>
                {% endfor %}
                {{ form_row(form.dateTime) }}
                {{ form_row(form.library) }}
                {% for message in app.flashes('faillibrary') %}
                    <div class="alert alert-danger alert-dismissible fade show" role="alert">
                        {{message}}
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                    </div>
                {% endfor %}
                {{ form_end(form) }}
            </div>
        </div>
    </div>


{% endblock %}