{% extends 'base.html.twig' %}

{% block content %}
    <div class="meetuppage">
        <div class="booklovers">
            {# <h1 class="bltitle">
                Upcoming MeetUps
            </h1> #}
            <h2 class="titleMeetups">Upcoming Meetups</h2>
            <div class="booklovers-container">
            <ul class="bookloverslist">
                {% for MeetUp in all_accepted_meetups %}
                    <div class="users">
                        <div>
                            <img id="userpict" src="{{ MeetUp.dataUri }}" alt="userpic" />
                        </div>
                        <div class="usersright">
                            <p>Username:</p>
                            <p class="meetUpText">{{ MeetUp.nameInvited }}</p>
                            <p>Library:</p>
                            <p class="meetUpText">{{ MeetUp.library }}</p>
                            <p class="date">{{ MeetUp.dateTime|date('d/m/Y H:i') }}</p>
                        </div>
                    </div>
                {% endfor %}

            </ul>
            </div>
        </div>

        <div class="meetright">
            <div>
                <h2 class="titleinvite"> Meet Up Invitation</h2>
                <div class="booklovers-container">
                <ul class="invitationlist">
                    {% set index = 0 %}
                    {% for MeetUp in all_open_meetups %}
                        <div class="invitation">
                            <div>
                                <p id="invitename">{{ MeetUp.nameInvited }}</p>
                                <p id="librarymeet">Library:
                                    {{ MeetUp.library }}</p>
                            </div>
                            <p id="datetimeinvitation">{{ MeetUp.dateTime|date('d/m/Y H:i') }}</p>
                            {% if loop.index0 == index %}
                                {{ form_start(formAccept[index]) }}
                                {{ form_end(formAccept[index]) }}
                            {% endif %}
                            {% if loop.index0 == index %}
                                {{ form_start(formDecline[index]) }}
                                {{ form_end(formDecline[index]) }}
                                {% set index = index + 1 %}
                            {% endif %}
                        </div>
                    {% endfor %}
                </ul>
                </div>
            </div>

        </div>
        <div class ="writeInvitation">
            <h2 class="titleMeetups">Invite a friend</h2>
            {{ form_start(form) }}
            {{ form_row(form.nameInvited) }}
            {% for message in app.flashes('failname') %}
                <div class="alert alert-danger alert-dismissible fade show" role="alert">
                    {{message}}
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
            {% endfor %}
            {{ form_row(form.dateTime) }}
            {{ form_row(form.library) }}
            {% for message in app.flashes('faillibrary') %}
                <div class="alert alert-danger alert-dismissible fade show" role="alert">
                    {{message}}
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
            {% endfor %}
            {{ form_end(form) }}
        </div>
    </div>


{% endblock %}