{% extends 'base.html.twig' %}
{% block stylesheet%}
    {{ parent() }}
    <link href="{{ asset('css/SignUp.css') }}" rel="stylesheet">
{% endblock %}
{#Header updated with bootstrap#}
{%  block header %}
    <header class="landing-header">
        <div class="container">
            <nav class="navbar navbar-expand-lg rounded-3" >
                <div class="container">
                    <a class="navbar-brand" href="{{ path('LogIn') }}">
                        <img src="{{ asset('/public/assets/logo.png') }}" alt="bookbinderlogo" width="200">
                    </a>
                    <button class="navbar-toggler bg-white"  type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse justify-content-end" id="navbarNavAltMarkup">
                        <div class="navbar-nav" id="nav">
                            <a class="nav-link active" aria-current="page" href="{{ path('LogIn') }}">LogIn</a>
                            <a class="nav-link " href="{{ path('SignUp') }}">SignUp</a>
                        </div>
                    </div>
                </div>
            </nav>
        </div>
    </header>
{% endblock %}

{% block content %}
    <div class="landing-m px-4">
        <div class="container">
            <div class="row justify-content-center">
                <div class="landing-wel col-lg-6 mb-3 bg-white">
                    <h1 class="signUpLbl text-center pt-3"> Sign Up </h1>
                    <p class="signUpLbl2 text-center"> Please enter the required information</p>
                    <form method="{{ form.vars.method }}" action="{{ form.vars.action }}" name="signup">
                        {{ form_start(form) }}
                        <div class="custom-form">
                            {# Render each form field manually #}
                            <div class="form-row custom-form-1">
                                <div class="form-widget custom-form-2">
                                    {% for choice in form.avatar %}
                                        <label for="avatar" class="avatar-choice p-4">
                                            {% if choice.vars['attr']['data-image-url'] is defined %}
                                                <img src="{{ choice.vars['attr']['data-image-url'] }}" alt="Avatar" class="Avatar">
                                            {% endif %}
                                            {{ form_label(choice) }}
                                            {{ form_widget(choice, {'attr': {'class': 'avatar-choice', 'id': 'avatar'}}) }}
                                        </label>
                                    {% endfor %}
                                </div>
                                {{ form_errors(form.avatar) }}
                            </div>
                            {{ form_row(form.username) }}
                            <p id="message_check" class="message_check"></p>
                            {{ form_row(form.password) }}
                            {{ form_errors(form.password) }}
                            {{ form_row(form.first_name) }}
                            {{ form_errors(form.first_name) }}
                            {{ form_row(form.last_name) }}
                            {{ form_errors(form.first_name) }}
                            {{ form_row(form.birthdate) }}
                            {{ form_errors(form.birthdate) }}
                            {{ form_row(form.street) }}
                            {{ form_errors(form.street) }}
                            {{ form_row(form.house_number) }}
                            {{ form_row(form.postcode) }}
                            {{ form_row(form.terms_and_condition) }}
                            {{ form_errors(form.terms_and_condition) }}
                        </div>
                        <div class="custom-form-signup">
                            {{ form_row(form.submit) }}
                        </div>

                        {{ form_end(form) }}
                    </form>
                    {% for message in app.flashes('success') %}
                        <div class="alert alert-success">
                            {{ message }}
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}


{#No bootstrap required here#}
{% set footer_class = 'landing-footer' %}
{% block footer %}
    <footer class="{{ footer_class }}">
        <div>Copyright © 2022 WebTech. KUL All rights Reserved.</div>
        <div><a href="{{ path('privacypolicy') }}" class="footer_login_links">  Privacy Policy</a> | <a href="{{ path('termsofservice') }}" class="footer_login_links"> Terms of Use</a></div>
    </footer>
{% endblock %}


