{% extends 'base.html.twig' %}
{% block title %} <title> BookBinder </title>{% endblock %}
{% block stylesheet %}
    {{ parent() }}
{% endblock %}
{% block content %}
    <div class="container py-5">
            <div class="row justify-content-center">
                {#User details card#}
                <div class="col-lg-8">
                    <div class="card text-bg-light mb-4">
                        <div class="card-header text-center">
                            <strong>Avatar</strong>
                            <br>
                            {% if avatar %}
                                <img src="{{ data_image_url }}" alt = "avatar_user"  class="w-25">
                            {% endif %}
                            <hr>
                            <p id ="first_name_user"> <Strong>First name: </Strong>{{ user.first_name }}</p>
                            <hr>
                            <p id ="last_name_user"> <Strong>Last name: </Strong>{{ user.last_name }}</p>
                            <hr>
                            <p id ="date_of_birth_user"> <Strong>Date of birth: </Strong>{{ user.birthdate }}</p>
                            <hr>
                            <p id ="street_user"> <Strong>Street: </Strong>{{ user.street }}</p>
                            <hr>
                            <p id ="house_number_user"> <Strong>House nr: </Strong>{{ user.house_number }}</p>
                            <hr>
                            <p id ="postcode_user"> <Strong>Postcode: </Strong>{{ user.postcode }}</p>
                            <hr>
                            <p id ="library_user"> <Strong>Library: </Strong>{{ library.name }}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
{% endblock %}
