{% extends 'base.html.twig' %}
{% block title %} <title> BookBinder </title>{% endblock %}
{% block stylesheet %}
    {{ parent() }}
{% endblock %}
{% block content %}
    <div class="container py-5">
            <div class="row">
                <div class="col-lg-4">
                    {#User profile card#}
                    <div class="card mb-4">
                        <div class="card-body text-center">
                            <img src="{{ asset('/assets/Avatar.png') }}" alt="avatar"
                                 class="rounded-circle img-fluid w-100">
                            <h4 class="my-3">Emma Watch</h4>
                            <h5 class="text-secondary"> Holsbeeks Library</h5>
                            <h5 class="text-secondary">Leuven, Belgium</h5>
                            {#We can add actions like Add friend and follow#}
                            <p class="text-muted"> Add or Follow this user to see more of their content</p>
                            <div class="d-flex justify-content-center mb-2">
                                <button type="button" class="btn btn-primary">Add</button>
                                <button type="button" class="btn btn-outline-primary ms-1">Follow</button>
                            </div>
                        </div>
                    </div>

                    {#User intro card#}
                    <div class="card mb-4">
                       <div class="card-header text-center">
                          <strong>Intro</strong>
                       </div>
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item"><Strong>Library: </Strong>Holsbeeks Library</li>
                            <li class="list-group-item"><Strong>Favorite Genres: </Strong> Horror, Sci-Fi</li>
                            <li class="list-group-item"><Strong>Books Read: </Strong> 50</li>
                            <li class="list-group-item"><Strong>Favorite Book: </Strong> The great Godden</li>
                        </ul>
                    </div>
                </div>

                {#User details card#}
                <div class="col-lg-8">
                    <div class="card text-bg-light mb-4">
                        <div class="card-header text-center">
                            <strong>Avatar</strong>
                            <br>
                            {% if avatar %}
                                <img src="{{ data_image_url }}" alt = "AvatarUser"  class="w-25">
                            {% endif %}
                            <hr>
                            <p id = "FirstNameUser"> <Strong>First name: </Strong>{{ user.first_name }}</p>
                            <hr>
                            <p id = "LastNameUser"> <Strong>Last name: </Strong>{{ user.last_name }}</p>
                            <hr>
                            <p id = "DateOfBirthUser"> <Strong>Date of birth: </Strong>{{ user.birthdate }}</p>
                            <hr>
                            <p id = "StreetUser"> <Strong>Street: </Strong>{{ user.street }}</p>
                            <hr>
                            <p id = "HouseNumberUser"> <Strong>House nr: </Strong>{{ user.house_number }}</p>
                            <hr>
                            <p id = "PostcodeUser"> <Strong>Postcode: </Strong>{{ user.postcode }}</p>
                            <hr>
                            <p id = "LibraryUser"> <Strong>Library: </Strong>{{ library.name }}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>



        {#<img id="BookPic" src="{{ asset("assets/Avatar.png") }}" class="img-fluid" alt="profile picture">#}

{% endblock %}
{#<div class="profile">
            <div class="backgroundProfPic">
                <img id="BookPic" src="{{ asset("assets/ProfileBackgroundPic.png") }}" alt="Background picture">
            </div>
            <div class="avatar-details">
                <div class="Avatar">
                    <img id="BookPic" src="{{ asset("assets/Avatar.png") }}" alt="profile picture">
                </div>
                <div class="Details">
                    <h1>Hannah Taylor </h1>
                    <p> 3 books followed</p>
                </div>
            </div>
            <div class="User_info">
                <h1> Your information </h1>
                <h3> Visit your local library to modify your information</h3>
            </div>
            <div class="form">
                {{ form(form) }}
            </div>

        </div>#}